# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
typescript/xiu_xian/node_modules
typescript/xiu_xian/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
typescript/xiu_xian/coverage

# next.js
typescript/xiu_xian/.next/
typescript/xiu_xian/out/

# production
typescript/xiu_xian/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
typescript/xiu_xian/.env*

# vercel
typescript/xiu_xian/.vercel

# typescript
*.tsbuildinfo
typescript/xiu_xian/next-env.d.ts

# python cache
__pycache__/